{% if category.name == "Arts & Literature" %}
    🎨
{% elif category.name == "Film & TV" %}
    📽️
{% elif category.name == "Food & Drink" %}
    🍜
{% elif category.name == "General Knowledge" %}
    🎓
{% elif category.name == "Geography" %}
    🗺️
{% elif category.name == "History" %}
    🏛️
{% elif category.name == "Music" %}
    🎵
{% elif category.name == "Science" %}
    🔬
{% elif category.name == "Society & Culture" %}
    🙏
{% elif category.name == "Sport & Leisure" %}
    ⚽
{% else %}
    📝
{% endif %}